h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
    font-weight: 400;
}

p, ol, ul, blockquote {
    margin: 0px 0px 20px;
}

.module, .module-small {
    position: relative;
    background-size: cover;
    padding: 140px 0px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.font-alt {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.module-title {
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: rgb(17, 17, 17);
    margin: 0px 0px 70px;
}

.font-serif {
    font-family: Volkhov, "Times New Roman", sans-serif;
    font-style: italic;
}

.module-subtitle {
    text-align: center;
    font-size: 16px;
    color: rgb(17, 17, 17);
    margin-bottom: 70px;
}

.module-title + .module-subtitle {
    margin-top: -35px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    height: 33px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(234, 234, 234);
    border-image: initial;
    border-radius: 2px;
    transition: all 0.4s ease-in-out 0s;
    box-shadow: none;
}

textarea.form-control {
    height: auto;
}


.btn {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 11px;
    border-radius: 0px;
    padding: 8px 37px;
    box-shadow: none;
    transition: all 0.125s ease-in-out 0s;
}

.btn.btn-round {
    border-radius: 2px;
}

.btn.btn-d {
    color: rgb(255, 255, 255);
    background: rgba(17, 17, 17, 0.8);
}

.social-links {
    max-width: 500px;
    justify-content: space-around;
}

.social-links a {
    font-size: 40px;
    margin: 10px;
    color: rgba(17, 17, 17, 0.8);
}

.social-links a:hover {
    color:#111;
}

.multi-columns-row {
    display: flex;
    justify-content: center;
}

.btn-block:hover {
 background: #111;
}

/* .fadein {
    opacity: 0;
    transform: translateY(20px);
    transition: all 1s ease 0s;
} */