.section {
    display: block;
}

.module, .module-small {
    position: relative;
    background-size: cover;
    padding: 140px 0px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.module-title {
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    color: #111;
    margin: 0 0 70px;
}

.module-subtitle {
    text-align: center;
    font-size: 16px;
    color: #111;
    margin-bottom: 70px;
}

.font-serif {
    font-family: Volkhov, "Times New Roman", sans-serif;
    font-style: italic;
}

.module-title + .module-subtitle {
    margin-top: -35px;
}

.module-title-h3{
    position: relative;
    letter-spacing: 4px;
    text-align: center;
    font-weight: 400;
    font-size: 25px;
    color: #111;
    margin: 0 0 25px;
}

.skill-container {
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 991px) {
    .skill-container {
        width: 80%;
        margin: 0 auto;
    }
}