
h1,h2,h3,h4,h5,h6 {
  line-height: 1.4;
  font-weight: 400;
}

p, ol, ul, blockquote {
    margin: 0 0 20px;
}

.features-item {
    margin: 20px 0;
    text-align: center;
}

.features-icon, .alt-features-icon {
    line-height: 1.2;
    font-size: 42px;
    color: #111;
}

.features-title, .alt-features-title {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 14px;
    color: #111;
    margin: 16px 0 15px;
}

.font-alt {
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}